#wha-main
{
   background: #F7FBFD;
   margin:0 auto;
   font-size: 13px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
   letter-spacing: 1px;
   position: relative;
   width: 100%;
   min-height: 100%;
   left: 0;
   top: 0;
   cursor:default;
   overflow:hidden;
}
table, ul.wha-hmenu
{
   font-size: 13px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
   letter-spacing: 1px;
}

h1, h2, h3, h4, h5, h6, p, a, ul, ol, li
{
   margin: 0;
   padding: 0;
}

/* Reset buttons border. It's important for input and button tags. 
 * border-collapse should be separate for shadow in IE. 
 */
.wha-button
{
   border-collapse: separate;
   -webkit-background-origin: border !important;
   -moz-background-origin: border !important;
   background-origin: border-box !important;
   background: #4383A3;
   background: linear-gradient(top, rgba(59, 116, 145, 0.8) 0, rgba(71, 140, 174, 0.8) 40%, rgba(72, 142, 177, 0.8) 50%, rgba(71, 140, 174, 0.8) 60%, rgba(59, 116, 145, 0.8) 100%) no-repeat;
   background: -webkit-linear-gradient(top, rgba(59, 116, 145, 0.8) 0, rgba(71, 140, 174, 0.8) 40%, rgba(72, 142, 177, 0.8) 50%, rgba(71, 140, 174, 0.8) 60%, rgba(59, 116, 145, 0.8) 100%) no-repeat;
   background: -moz-linear-gradient(top, rgba(59, 116, 145, 0.8) 0, rgba(71, 140, 174, 0.8) 40%, rgba(72, 142, 177, 0.8) 50%, rgba(71, 140, 174, 0.8) 60%, rgba(59, 116, 145, 0.8) 100%) no-repeat;
   background: -o-linear-gradient(top, rgba(59, 116, 145, 0.8) 0, rgba(71, 140, 174, 0.8) 40%, rgba(72, 142, 177, 0.8) 50%, rgba(71, 140, 174, 0.8) 60%, rgba(59, 116, 145, 0.8) 100%) no-repeat;
   background: -ms-linear-gradient(top, rgba(59, 116, 145, 0.8) 0, rgba(71, 140, 174, 0.8) 40%, rgba(72, 142, 177, 0.8) 50%, rgba(71, 140, 174, 0.8) 60%, rgba(59, 116, 145, 0.8) 100%) no-repeat;
   background: linear-gradient(top, rgba(59, 116, 145, 0.8) 0, rgba(71, 140, 174, 0.8) 40%, rgba(72, 142, 177, 0.8) 50%, rgba(71, 140, 174, 0.8) 60%, rgba(59, 116, 145, 0.8) 100%) no-repeat;
   -svg-background: linear-gradient(top, rgba(59, 116, 145, 0.8) 0, rgba(71, 140, 174, 0.8) 40%, rgba(72, 142, 177, 0.8) 50%, rgba(71, 140, 174, 0.8) 60%, rgba(59, 116, 145, 0.8) 100%) no-repeat;
   -webkit-border-radius:4px;
   -moz-border-radius:4px;
   border-radius:4px;
   -webkit-box-shadow:0 0 2px 1px rgba(0, 0, 0, 0.2);
   -moz-box-shadow:0 0 2px 1px rgba(0, 0, 0, 0.2);
   box-shadow:0 0 2px 1px rgba(0, 0, 0, 0.2);
   border:1px solid rgba(52, 102, 127, 0.8);
   padding:0 15px;
   margin:0 auto;
   height:26px;
}

.wha-postcontent,
.wha-postheadericons,
.wha-postfootericons,
.wha-blockcontent,
ul.wha-vmenu a 
{
   text-align: left;
}

.wha-postcontent,
.wha-postcontent li,
.wha-postcontent table,
.wha-postcontent a,
.wha-postcontent a:link,
.wha-postcontent a:visited,
.wha-postcontent a.visited,
.wha-postcontent a:hover,
.wha-postcontent a.hovered
{
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.wha-postcontent p
{
   margin: 12px 0;
}

.wha-postcontent h1, .wha-postcontent h1 a, .wha-postcontent h1 a:link, .wha-postcontent h1 a:visited, .wha-postcontent h1 a:hover,
.wha-postcontent h2, .wha-postcontent h2 a, .wha-postcontent h2 a:link, .wha-postcontent h2 a:visited, .wha-postcontent h2 a:hover,
.wha-postcontent h3, .wha-postcontent h3 a, .wha-postcontent h3 a:link, .wha-postcontent h3 a:visited, .wha-postcontent h3 a:hover,
.wha-postcontent h4, .wha-postcontent h4 a, .wha-postcontent h4 a:link, .wha-postcontent h4 a:visited, .wha-postcontent h4 a:hover,
.wha-postcontent h5, .wha-postcontent h5 a, .wha-postcontent h5 a:link, .wha-postcontent h5 a:visited, .wha-postcontent h5 a:hover,
.wha-postcontent h6, .wha-postcontent h6 a, .wha-postcontent h6 a:link, .wha-postcontent h6 a:visited, .wha-postcontent h6 a:hover,
.wha-blockheader .t, .wha-blockheader .t a, .wha-blockheader .t a:link, .wha-blockheader .t a:visited, .wha-blockheader .t a:hover,
.wha-vmenublockheader .t, .wha-vmenublockheader .t a, .wha-vmenublockheader .t a:link, .wha-vmenublockheader .t a:visited, .wha-vmenublockheader .t a:hover,
.wha-headline, .wha-headline a, .wha-headline a:link, .wha-headline a:visited, .wha-headline a:hover,
.wha-slogan, .wha-slogan a, .wha-slogan a:link, .wha-slogan a:visited, .wha-slogan a:hover,
.wha-postheader, .wha-postheader a, .wha-postheader a:link, .wha-postheader a:visited, .wha-postheader a:hover
{
   font-size: 28px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
   letter-spacing: 2px;
   line-height: 120%;
}

.wha-postcontent a, .wha-postcontent a:link
{
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   text-decoration: none;
   color: #289DC8;
}

.wha-postcontent a:visited, .wha-postcontent a.visited
{
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   text-decoration: none;
   color: #67A3C1;
}

.wha-postcontent  a:hover, .wha-postcontent a.hover
{
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   text-decoration: underline;
   color: #09C1E1;
}

.wha-postcontent h1
{
   color: #4CB5DC;
   margin: 10px 0 0;
   font-size: 26px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   letter-spacing: 2px;
}

.wha-blockcontent h1
{
   margin: 10px 0 0;
   font-size: 26px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   letter-spacing: 2px;
}

.wha-postcontent h1 a, .wha-postcontent h1 a:link, .wha-postcontent h1 a:hover, .wha-postcontent h1 a:visited, .wha-blockcontent h1 a, .wha-blockcontent h1 a:link, .wha-blockcontent h1 a:hover, .wha-blockcontent h1 a:visited 
{
   font-size: 26px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   letter-spacing: 2px;
}

.wha-postcontent h2
{
   color: #4CB5DC;
   margin: 10px 0 0;
   font-size: 22px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   letter-spacing: 2px;
}

.wha-blockcontent h2
{
   margin: 10px 0 0;
   font-size: 22px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   letter-spacing: 2px;
}

.wha-postcontent h2 a, .wha-postcontent h2 a:link, .wha-postcontent h2 a:hover, .wha-postcontent h2 a:visited, .wha-blockcontent h2 a, .wha-blockcontent h2 a:link, .wha-blockcontent h2 a:hover, .wha-blockcontent h2 a:visited 
{
   font-size: 22px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   letter-spacing: 2px;
}

.wha-postcontent h3
{
   color: #88B7CE;
   margin: 10px 0 0;
   font-size: 18px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   letter-spacing: 2px;
}

.wha-blockcontent h3
{
   margin: 10px 0 0;
   font-size: 18px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   letter-spacing: 2px;
}

.wha-postcontent h3 a, .wha-postcontent h3 a:link, .wha-postcontent h3 a:hover, .wha-postcontent h3 a:visited, .wha-blockcontent h3 a, .wha-blockcontent h3 a:link, .wha-blockcontent h3 a:hover, .wha-blockcontent h3 a:visited 
{
   font-size: 18px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   letter-spacing: 2px;
}

.wha-postcontent h4
{
   color: #162C36;
   margin: 10px 0 0;
   font-size: 16px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   letter-spacing: 2px;
}

.wha-blockcontent h4
{
   margin: 10px 0 0;
   font-size: 16px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   letter-spacing: 2px;
}

.wha-postcontent h4 a, .wha-postcontent h4 a:link, .wha-postcontent h4 a:hover, .wha-postcontent h4 a:visited, .wha-blockcontent h4 a, .wha-blockcontent h4 a:link, .wha-blockcontent h4 a:hover, .wha-blockcontent h4 a:visited 
{
   font-size: 16px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   letter-spacing: 2px;
}

.wha-postcontent h5
{
   color: #162C36;
   margin: 10px 0 0;
   font-size: 14px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   letter-spacing: 2px;
}

.wha-blockcontent h5
{
   margin: 10px 0 0;
   font-size: 14px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   letter-spacing: 2px;
}

.wha-postcontent h5 a, .wha-postcontent h5 a:link, .wha-postcontent h5 a:hover, .wha-postcontent h5 a:visited, .wha-blockcontent h5 a, .wha-blockcontent h5 a:link, .wha-blockcontent h5 a:hover, .wha-blockcontent h5 a:visited 
{
   font-size: 14px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   letter-spacing: 2px;
}

.wha-postcontent h6
{
   color: #356982;
   margin: 10px 0 0;
   font-size: 13px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   letter-spacing: 2px;
}

.wha-blockcontent h6
{
   margin: 10px 0 0;
   font-size: 13px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   letter-spacing: 2px;
}

.wha-postcontent h6 a, .wha-postcontent h6 a:link, .wha-postcontent h6 a:hover, .wha-postcontent h6 a:visited, .wha-blockcontent h6 a, .wha-blockcontent h6 a:link, .wha-blockcontent h6 a:hover, .wha-blockcontent h6 a:visited 
{
   font-size: 13px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   letter-spacing: 2px;
}

header, footer, article, nav, #wha-hmenu-bg, .wha-sheet, .wha-hmenu a, .wha-vmenu a, .wha-slidenavigator > a, .wha-checkbox:before, .wha-radiobutton:before
{
   -webkit-background-origin: border !important;
   -moz-background-origin: border !important;
   background-origin: border-box !important;
}

header, footer, article, nav, #wha-hmenu-bg, .wha-sheet, .wha-slidenavigator > a, .wha-checkbox:before, .wha-radiobutton:before
{
   display: block;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}

ul
{
   list-style-type: none;
}

ol
{
   list-style-position: inside;
}

html, body
{
   height: 100%;
}

body
{
   padding: 0;
   margin:0;
   min-width: 700px;
   color: #162C36;
}

.clearfix:before, .clearfix:after {
   content: "";
   display: table;
}

.clearfix:after {
   clear: both;
}

.cleared {
   font: 0/0 serif;
   clear: both;
}

form
{
   padding: 0 !important;
   margin: 0 !important;
}

table.position
{
   position: relative;
   width: 100%;
   table-layout: fixed;
}

li h1, .wha-postcontent li h1, .wha-blockcontent li h1 
{
   margin:1px;
} 
li h2, .wha-postcontent li h2, .wha-blockcontent li h2 
{
   margin:1px;
} 
li h3, .wha-postcontent li h3, .wha-blockcontent li h3 
{
   margin:1px;
} 
li h4, .wha-postcontent li h4, .wha-blockcontent li h4 
{
   margin:1px;
} 
li h5, .wha-postcontent li h5, .wha-blockcontent li h5 
{
   margin:1px;
} 
li h6, .wha-postcontent li h6, .wha-blockcontent li h6 
{
   margin:1px;
} 
li p, .wha-postcontent li p, .wha-blockcontent li p 
{
   margin:1px;
}


.wha-shapes
{
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   overflow: hidden;
   z-index: 0;
}

.wha-headline
{
  display: inline-block;
  position: absolute;
  min-width: 50px;
  top: 23px;
  left: 50%;
  line-height: 100%;
  margin-left: -193px !important;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  z-index: 99;
}

.wha-headline, 
.wha-headline a, 
.wha-headline a:link, 
.wha-headline a:visited, 
.wha-headline a:hover
{
font-size: 32px;
font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
font-weight: bold;
font-style: normal;
text-decoration: none;
letter-spacing: 2px;
text-transform: none;
font-variant: normal;
text-align: left;
  padding: 0;
  margin: 0;
  color: #124659 !important;
  white-space: nowrap;
}
.wha-slogan
{
  display: inline-block;
  position: absolute;
  min-width: 50px;
  top: 63px;
  left: 50.25%;
  line-height: 100%;
  margin-left: -72px !important;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  z-index: 99;
  white-space: nowrap;
}

.wha-slogan, 
.wha-slogan a, 
.wha-slogan a:link, 
.wha-slogan a:visited, 
.wha-slogan a:hover
{
font-size: 16px;
font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
text-decoration: none;
letter-spacing: 1px;
text-transform: none;
font-variant: normal;
text-align: left;
  padding: 0;
  margin: 0;
  color: #124659 !important;
}

.wha-header
{
   margin:0 auto;
   position:relative;
   height: 100px;
   background-image: url('images/header.jpg');
   background-position: center top;
   background-repeat: no-repeat;
}

.responsive .wha-header 
{
   background-image: url('images/header.jpg');
   background-position: center center;
}

.wha-header-inner{
   position: relative;
   min-width: 700px;
   max-width: 1728px;
   width: 90%;
   z-index: auto !important;
   margin: 0 auto;
}

.wha-nav
{
   background: #28A1CC;
   background: linear-gradient(top, #2AA7D5 0, #55B9DD 15%, #33ABD7 50%, #2AA7D5 50%, #2389AF 50%, #28A1CC 100%) no-repeat;
   background: -webkit-linear-gradient(top, #2AA7D5 0, #55B9DD 15%, #33ABD7 50%, #2AA7D5 50%, #2389AF 50%, #28A1CC 100%) no-repeat;
   background: -moz-linear-gradient(top, #2AA7D5 0, #55B9DD 15%, #33ABD7 50%, #2AA7D5 50%, #2389AF 50%, #28A1CC 100%) no-repeat;
   background: -o-linear-gradient(top, #2AA7D5 0, #55B9DD 15%, #33ABD7 50%, #2AA7D5 50%, #2389AF 50%, #28A1CC 100%) no-repeat;
   background: -ms-linear-gradient(top, #2AA7D5 0, #55B9DD 15%, #33ABD7 50%, #2AA7D5 50%, #2389AF 50%, #28A1CC 100%) no-repeat;
   background: linear-gradient(top, #2AA7D5 0, #55B9DD 15%, #33ABD7 50%, #2AA7D5 50%, #2389AF 50%, #28A1CC 100%) no-repeat;
   -svg-background: linear-gradient(top, #2AA7D5 0, #55B9DD 15%, #33ABD7 50%, #2AA7D5 50%, #2389AF 50%, #28A1CC 100%) no-repeat;
   margin:0 auto;
   position: relative;
   z-index: 100;
   font-size: 0;
}

ul.wha-hmenu a, ul.wha-hmenu a:link, ul.wha-hmenu a:visited, ul.wha-hmenu a:hover 
{
   outline: none;
   position: relative;
   z-index: 11;
}

ul.wha-hmenu, ul.wha-hmenu ul
{
   display: block;
   margin: 0;
   padding: 0;
   border: 0;
   list-style-type: none;
}

ul.wha-hmenu li
{
   position: relative;
   z-index: 5;
   display: block;
   float: left;
   background: none;
   margin: 0;
   padding: 0;
   border: 0;
}

ul.wha-hmenu li:hover
{
   z-index: 10000;
   white-space: normal;
}

ul.wha-hmenu:after, ul.wha-hmenu ul:after
{
   content: ".";
   height: 0;
   display: block;
   visibility: hidden;
   overflow: hidden;
   clear: both;
}

ul.wha-hmenu, ul.wha-hmenu ul 
{
   min-height: 0;
}

ul.wha-hmenu 
{
   display: inline-block;
   vertical-align: bottom;
   padding-left: 0;
   padding-right: 0;
}

.wha-nav-inner:before 
{
   content:' ';
}

.wha-nav-inner{
   text-align: left;
   margin:0 auto;
}

.desktop-nav .wha-nav-inner{
   min-width: 700px;
   max-width: 1728px;
   width: 90%;
   padding-left: 0;
   padding-right: 0;
}

.desktop-nav.wha-nav
{
   padding-left: 0;
   padding-right: 0;
}

.wha-hmenu-extra1
{
   position: relative;
   display: block;
   float: left;
   width: auto;
   height: auto;
   background-position: center;
}

.wha-hmenu-extra2
{
   position: relative;
   display: block;
   float: right;
   width: auto;
   height: auto;
   background-position: center;
}

.wha-hmenu
{
   float: left;
}

.wha-menuitemcontainer
{
   margin:0 auto;
}
ul.wha-hmenu>li {
   margin-left: 0;
}
ul.wha-hmenu>li:first-child {
   margin-left: 0;
}
ul.wha-hmenu>li:last-child, ul.wha-hmenu>li.last-child {
   margin-right: 0;
}

ul.wha-hmenu>li>a
{
   padding:0 12px;
   margin:0 auto;
   position: relative;
   display: block;
   height: 25px;
   cursor: pointer;
   text-decoration: none;
   color: #CDE5EF;
   line-height: 25px;
   text-align: center;
}

.wha-hmenu a, 
.wha-hmenu a:link, 
.wha-hmenu a:visited, 
.wha-hmenu a.active, 
.wha-hmenu a:hover
{
   font-size: 12px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   letter-spacing: 1px;
   text-transform: none;
   font-variant: normal;
   text-align: left;
}

ul.wha-hmenu>li>a.active
{
   background: #264C5E;
   background: linear-gradient(top, #295165 0, #386E8A 15%, #2C576D 50%, #1C3745 50%, #264C5E 100%) no-repeat;
   background: -webkit-linear-gradient(top, #295165 0, #386E8A 15%, #2C576D 50%, #1C3745 50%, #264C5E 100%) no-repeat;
   background: -moz-linear-gradient(top, #295165 0, #386E8A 15%, #2C576D 50%, #1C3745 50%, #264C5E 100%) no-repeat;
   background: -o-linear-gradient(top, #295165 0, #386E8A 15%, #2C576D 50%, #1C3745 50%, #264C5E 100%) no-repeat;
   background: -ms-linear-gradient(top, #295165 0, #386E8A 15%, #2C576D 50%, #1C3745 50%, #264C5E 100%) no-repeat;
   background: linear-gradient(top, #295165 0, #386E8A 15%, #2C576D 50%, #1C3745 50%, #264C5E 100%) no-repeat;
   -svg-background: linear-gradient(top, #295165 0, #386E8A 15%, #2C576D 50%, #1C3745 50%, #264C5E 100%) no-repeat;
   padding:0 12px;
   margin:0 auto;
   color: #96C8DE;
   text-decoration: none;
}

ul.wha-hmenu>li>a:visited, 
ul.wha-hmenu>li>a:hover, 
ul.wha-hmenu>li:hover>a {
   text-decoration: none;
}

ul.wha-hmenu>li>a:hover, .desktop ul.wha-hmenu>li:hover>a
{
   background: #50B7DC;
   background: linear-gradient(top, #59BBDE 0, #84CCE7 15%, #61BEE0 50%, #33ABD7 50%, #50B7DC 100%) no-repeat;
   background: -webkit-linear-gradient(top, #59BBDE 0, #84CCE7 15%, #61BEE0 50%, #33ABD7 50%, #50B7DC 100%) no-repeat;
   background: -moz-linear-gradient(top, #59BBDE 0, #84CCE7 15%, #61BEE0 50%, #33ABD7 50%, #50B7DC 100%) no-repeat;
   background: -o-linear-gradient(top, #59BBDE 0, #84CCE7 15%, #61BEE0 50%, #33ABD7 50%, #50B7DC 100%) no-repeat;
   background: -ms-linear-gradient(top, #59BBDE 0, #84CCE7 15%, #61BEE0 50%, #33ABD7 50%, #50B7DC 100%) no-repeat;
   background: linear-gradient(top, #59BBDE 0, #84CCE7 15%, #61BEE0 50%, #33ABD7 50%, #50B7DC 100%) no-repeat;
   -svg-background: linear-gradient(top, #59BBDE 0, #84CCE7 15%, #61BEE0 50%, #33ABD7 50%, #50B7DC 100%) no-repeat;
   padding:0 12px;
   margin:0 auto;
}
ul.wha-hmenu>li>a:hover, 
.desktop-nav ul.wha-hmenu>li:hover>a {
   color: #122E3A;
   text-decoration: none;
}

ul.wha-hmenu li li a
{
   background: #BBE3F2;
   background: transparent;
   padding:0 8px;
   margin:0 auto;
}
ul.wha-hmenu li li 
{
   float: none;
   width: auto;
   margin-top: 0;
   margin-bottom: 0;
}

.desktop-nav ul.wha-hmenu li li ul>li:first-child 
{
   margin-top: 0;
}

ul.wha-hmenu li li ul>li:last-child 
{
   margin-bottom: 0;
}

.wha-hmenu ul a
{
   display: block;
   white-space: nowrap;
   height: 23px;
   min-width: 7em;
   border: 0 solid transparent;
   text-align: left;
   line-height: 23px;
   color: #0C2F3C;
   font-size: 12px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   text-decoration: none;
   letter-spacing: 1px;
   text-transform: none;
   margin:0;
}

.wha-hmenu ul a:link, 
.wha-hmenu ul a:visited, 
.wha-hmenu ul a.active, 
.wha-hmenu ul a:hover
{
   text-align: left;
   line-height: 23px;
   color: #0C2F3C;
   font-size: 12px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   text-decoration: none;
   letter-spacing: 1px;
   text-transform: none;
   margin:0;
}

ul.wha-hmenu ul li a:hover, .desktop ul.wha-hmenu ul li:hover>a
{
   background: #7FCAE6;
   margin:0 auto;
}
.wha-hmenu ul a:hover
{
   text-decoration: none;
}

.wha-hmenu ul li a:hover
{
   color: #000000;
}

.desktop-nav .wha-hmenu ul li:hover>a
{
   color: #000000;
}

ul.wha-hmenu ul:before
{
   background: #96C8DE;
   border:1px solid #28A1CC;
   margin:0 auto;
   display: block;
   position: absolute;
   content: ' ';
   z-index: 1;
}
.desktop-nav ul.wha-hmenu li:hover>ul {
   visibility: visible;
   top: 100%;
}
.desktop-nav ul.wha-hmenu li li:hover>ul {
   top: 0;
   left: 100%;
}

ul.wha-hmenu ul
{
   visibility: hidden;
   position: absolute;
   z-index: 10;
   left: 0;
   top: 0;
   background-image: url('images/spacer.gif');
}

.desktop-nav ul.wha-hmenu>li>ul
{
   padding: 12px 32px 32px 32px;
   margin: -10px 0 0 -30px;
}

.desktop-nav ul.wha-hmenu ul ul
{
   padding: 32px 32px 32px 12px;
   margin: -32px 0 0 -9px;
}

.desktop-nav ul.wha-hmenu ul.wha-hmenu-left-to-right 
{
   right: auto;
   left: 0;
   margin: -10px 0 0 -30px;
}

.desktop-nav ul.wha-hmenu ul.wha-hmenu-right-to-left 
{
   left: auto;
   right: 0;
   margin: -10px -30px 0 0;
}

.desktop-nav ul.wha-hmenu li li:hover>ul.wha-hmenu-left-to-right {
   right: auto;
   left: 100%;
}
.desktop-nav ul.wha-hmenu li li:hover>ul.wha-hmenu-right-to-left {
   left: auto;
   right: 100%;
}

.desktop-nav ul.wha-hmenu ul ul.wha-hmenu-left-to-right
{
   right: auto;
   left: 0;
   padding: 32px 32px 32px 12px;
   margin: -32px 0 0 -9px;
}

.desktop-nav ul.wha-hmenu ul ul.wha-hmenu-right-to-left
{
   left: auto;
   right: 0;
   padding: 32px 12px 32px 32px;
   margin: -32px -9px 0 0;
}

.desktop-nav ul.wha-hmenu li ul>li:first-child {
   margin-top: 0;
}
.desktop-nav ul.wha-hmenu li ul>li:last-child {
   margin-bottom: 0;
}

.desktop-nav ul.wha-hmenu ul ul:before
{
   border-radius: 0;
   top: 30px;
   bottom: 30px;
   right: 30px;
   left: 10px;
}

.desktop-nav ul.wha-hmenu>li>ul:before
{
   top: 10px;
   right: 30px;
   bottom: 30px;
   left: 30px;
}

.desktop-nav ul.wha-hmenu>li>ul.wha-hmenu-left-to-right:before {
   right: 30px;
   left: 30px;
}
.desktop-nav ul.wha-hmenu>li>ul.wha-hmenu-right-to-left:before {
   right: 30px;
   left: 30px;
}
.desktop-nav ul.wha-hmenu ul ul.wha-hmenu-left-to-right:before {
   right: 30px;
   left: 10px;
}
.desktop-nav ul.wha-hmenu ul ul.wha-hmenu-right-to-left:before {
   right: 10px;
   left: 30px;
}

.wha-sheet
{
   background: #FFFFFF;
   background: transparent;
   -webkit-border-radius:3px;
   -moz-border-radius:3px;
   border-radius:3px;
   margin:0 auto;
   position:relative;
   cursor:auto;
   width: 90%;
   min-width: 700px;
   max-width: 1728px;
   z-index: auto !important;
}

.wha-layout-wrapper
{
   position: relative;
   margin: 7px auto 0 auto;
   z-index: auto !important;
}

.wha-content-layout
{
   display: table;
   width: 100%;
   table-layout: fixed;
   border-collapse: collapse;
}

.wha-content-layout-row 
{
   display: table-row;
}

.wha-layout-cell
{
   display: table-cell;
   vertical-align: top;
}

.wha-block
{
   margin:12px;
}
div.wha-block img
{
   border: 1px dotted #9DC4D7;
   margin: 3px;
}

.wha-blockheader
{
   padding:12px 7px;
   margin:0 auto;
}

.wha-blockheader .t,
.wha-blockheader .t a,
.wha-blockheader .t a:link,
.wha-blockheader .t a:visited, 
.wha-blockheader .t a:hover
{
   color: #145066;
   font-size: 14px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
   letter-spacing: 1px;
   margin: 0 10px;
}

.wha-blockheader .t:before
{
   content:url('images/blockheadericon.png');
   margin-right:6px;
   bottom: 2px;
   position:relative;
   display:inline-block;
   vertical-align:middle;
   font-size:0;
   line-height:0;
}
.opera .wha-blockheader .t:before
{
   /* Vertical-align:middle in Opera doesn't need additional offset */
    bottom: 0;
}

.wha-blockcontent
{
   padding:7px;
   margin:0 auto;
   color: #182F3A;
   font-size: 12px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   letter-spacing: 1px;
}
.wha-blockcontent table,
.wha-blockcontent li, 
.wha-blockcontent a,
.wha-blockcontent a:link,
.wha-blockcontent a:visited,
.wha-blockcontent a:hover
{
   color: #182F3A;
   font-size: 12px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   letter-spacing: 1px;
}

.wha-blockcontent p
{
   margin: 0 5px;
}

.wha-blockcontent a, .wha-blockcontent a:link
{
   color: #55B9DD;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.wha-blockcontent a:visited, .wha-blockcontent a.visited
{
   color: #92BDD3;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   text-decoration: none;
}

.wha-blockcontent a:hover, .wha-blockcontent a.hover
{
   color: #09C1E1;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   text-decoration: none;
}
.wha-block ul>li:before
{
   content:url('images/blockbullets.png');
   margin-right:6px;
   bottom: 2px;
   position:relative;
   display:inline-block;
   vertical-align:middle;
   font-size:0;
   line-height:0;
   margin-left: -11px;
}
.opera .wha-block ul>li:before
{
   /* Vertical-align:middle in Opera doesn't need additional offset */
    bottom: 0;
}

.wha-block li
{
   font-size: 13px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   line-height: 125%;
   color: #3B7491;
   margin: 5px 0 0 10px;
}

.wha-block ul>li, .wha-block ol
{
   padding: 0;
}

.wha-block ul>li
{
   padding-left: 11px;
}

.wha-breadcrumbs
{
   margin:0 auto;
}

a.wha-button,
a.wha-button:link,
a:link.wha-button:link,
body a.wha-button:link,
a.wha-button:visited,
body a.wha-button:visited,
input.wha-button,
button.wha-button
{
   text-decoration: none;
   font-size: 13px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
   letter-spacing: 1px;
   position:relative;
   display: inline-block;
   vertical-align: middle;
   white-space: nowrap;
   text-align: center;
   color: #08212B;
   margin: 0 !important;
   overflow: visible;
   cursor: pointer;
   text-indent: 0;
   line-height: 26px;
   -webkit-box-sizing: content-box;
   -moz-box-sizing: content-box;
   box-sizing: content-box;
}

.wha-button img
{
   margin: 0;
   vertical-align: middle;
}

.firefox2 .wha-button
{
   display: block;
   float: left;
}

input, select, textarea
{
   vertical-align: middle;
   font-size: 13px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
   letter-spacing: 1px;
}

.wha-block select 
{
   width:96%;
}

input.wha-button
{
   float: none !important;
}

.wha-button.active, .wha-button.active:hover
{
   background: #28A1CC;
   background: linear-gradient(top, rgba(36, 144, 183, 0.8) 0, rgba(42, 167, 213, 0.8) 35%, rgba(46, 169, 214, 0.8) 40%, rgba(51, 171, 215, 0.8) 50%, rgba(46, 169, 214, 0.8) 60%, rgba(42, 167, 213, 0.8) 65%, rgba(36, 144, 183, 0.8) 100%) no-repeat;
   background: -webkit-linear-gradient(top, rgba(36, 144, 183, 0.8) 0, rgba(42, 167, 213, 0.8) 35%, rgba(46, 169, 214, 0.8) 40%, rgba(51, 171, 215, 0.8) 50%, rgba(46, 169, 214, 0.8) 60%, rgba(42, 167, 213, 0.8) 65%, rgba(36, 144, 183, 0.8) 100%) no-repeat;
   background: -moz-linear-gradient(top, rgba(36, 144, 183, 0.8) 0, rgba(42, 167, 213, 0.8) 35%, rgba(46, 169, 214, 0.8) 40%, rgba(51, 171, 215, 0.8) 50%, rgba(46, 169, 214, 0.8) 60%, rgba(42, 167, 213, 0.8) 65%, rgba(36, 144, 183, 0.8) 100%) no-repeat;
   background: -o-linear-gradient(top, rgba(36, 144, 183, 0.8) 0, rgba(42, 167, 213, 0.8) 35%, rgba(46, 169, 214, 0.8) 40%, rgba(51, 171, 215, 0.8) 50%, rgba(46, 169, 214, 0.8) 60%, rgba(42, 167, 213, 0.8) 65%, rgba(36, 144, 183, 0.8) 100%) no-repeat;
   background: -ms-linear-gradient(top, rgba(36, 144, 183, 0.8) 0, rgba(42, 167, 213, 0.8) 35%, rgba(46, 169, 214, 0.8) 40%, rgba(51, 171, 215, 0.8) 50%, rgba(46, 169, 214, 0.8) 60%, rgba(42, 167, 213, 0.8) 65%, rgba(36, 144, 183, 0.8) 100%) no-repeat;
   background: linear-gradient(top, rgba(36, 144, 183, 0.8) 0, rgba(42, 167, 213, 0.8) 35%, rgba(46, 169, 214, 0.8) 40%, rgba(51, 171, 215, 0.8) 50%, rgba(46, 169, 214, 0.8) 60%, rgba(42, 167, 213, 0.8) 65%, rgba(36, 144, 183, 0.8) 100%) no-repeat;
   -svg-background: linear-gradient(top, rgba(36, 144, 183, 0.8) 0, rgba(42, 167, 213, 0.8) 35%, rgba(46, 169, 214, 0.8) 40%, rgba(51, 171, 215, 0.8) 50%, rgba(46, 169, 214, 0.8) 60%, rgba(42, 167, 213, 0.8) 65%, rgba(36, 144, 183, 0.8) 100%) no-repeat;
   -webkit-border-radius:4px;
   -moz-border-radius:4px;
   border-radius:4px;
   -webkit-box-shadow:0 0 2px 1px rgba(0, 0, 0, 0.2);
   -moz-box-shadow:0 0 2px 1px rgba(0, 0, 0, 0.2);
   box-shadow:0 0 2px 1px rgba(0, 0, 0, 0.2);
   border:1px solid rgba(22, 87, 111, 0.8);
   padding:0 15px;
   margin:0 auto;
}
.wha-button.active, .wha-button.active:hover {
   color: #0C1F27 !important;
}

.wha-button.hover, .wha-button:hover
{
   background: #50B7DC;
   background: linear-gradient(top, rgba(59, 174, 216, 0.8) 0, rgba(93, 188, 223, 0.8) 40%, rgba(97, 190, 224, 0.8) 50%, rgba(93, 188, 223, 0.8) 60%, rgba(59, 174, 216, 0.8) 100%) no-repeat;
   background: -webkit-linear-gradient(top, rgba(59, 174, 216, 0.8) 0, rgba(93, 188, 223, 0.8) 40%, rgba(97, 190, 224, 0.8) 50%, rgba(93, 188, 223, 0.8) 60%, rgba(59, 174, 216, 0.8) 100%) no-repeat;
   background: -moz-linear-gradient(top, rgba(59, 174, 216, 0.8) 0, rgba(93, 188, 223, 0.8) 40%, rgba(97, 190, 224, 0.8) 50%, rgba(93, 188, 223, 0.8) 60%, rgba(59, 174, 216, 0.8) 100%) no-repeat;
   background: -o-linear-gradient(top, rgba(59, 174, 216, 0.8) 0, rgba(93, 188, 223, 0.8) 40%, rgba(97, 190, 224, 0.8) 50%, rgba(93, 188, 223, 0.8) 60%, rgba(59, 174, 216, 0.8) 100%) no-repeat;
   background: -ms-linear-gradient(top, rgba(59, 174, 216, 0.8) 0, rgba(93, 188, 223, 0.8) 40%, rgba(97, 190, 224, 0.8) 50%, rgba(93, 188, 223, 0.8) 60%, rgba(59, 174, 216, 0.8) 100%) no-repeat;
   background: linear-gradient(top, rgba(59, 174, 216, 0.8) 0, rgba(93, 188, 223, 0.8) 40%, rgba(97, 190, 224, 0.8) 50%, rgba(93, 188, 223, 0.8) 60%, rgba(59, 174, 216, 0.8) 100%) no-repeat;
   -svg-background: linear-gradient(top, rgba(59, 174, 216, 0.8) 0, rgba(93, 188, 223, 0.8) 40%, rgba(97, 190, 224, 0.8) 50%, rgba(93, 188, 223, 0.8) 60%, rgba(59, 174, 216, 0.8) 100%) no-repeat;
   -webkit-border-radius:4px;
   -moz-border-radius:4px;
   border-radius:4px;
   -webkit-box-shadow:0 0 2px 1px rgba(0, 0, 0, 0.2);
   -moz-box-shadow:0 0 2px 1px rgba(0, 0, 0, 0.2);
   box-shadow:0 0 2px 1px rgba(0, 0, 0, 0.2);
   border:1px solid rgba(40, 161, 204, 0.8);
   padding:0 15px;
   margin:0 auto;
}
.wha-button.hover, .wha-button:hover {
   color: #09252F !important;
}

input[type="text"], input[type="password"], input[type="email"], input[type="url"], textarea
{
   background: #FFFFFF;
   background: rgba(255, 255, 255, 0.5);
   -webkit-border-radius:2px;
   -moz-border-radius:2px;
   border-radius:2px;
   border:1px solid #7DB0CA;
   margin:0 auto;
}
input[type="text"], input[type="password"], input[type="email"], input[type="url"], textarea
{
   width: 100%;
   padding: 4px 0;
   color: #182F3A !important;
   font-size: 13px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
   letter-spacing: 1px;
}
input.wha-error, textarea.wha-error
{
   background: #FFFFFF;
   background: linear-gradient(top, #C9DEE9 0, #F8FBFC 20%, #DBE9F0 50%, #C1DAE6 80%, #D0E2EC 100%) no-repeat;
   background: -webkit-linear-gradient(top, #C9DEE9 0, #F8FBFC 20%, #DBE9F0 50%, #C1DAE6 80%, #D0E2EC 100%) no-repeat;
   background: -moz-linear-gradient(top, #C9DEE9 0, #F8FBFC 20%, #DBE9F0 50%, #C1DAE6 80%, #D0E2EC 100%) no-repeat;
   background: -o-linear-gradient(top, #C9DEE9 0, #F8FBFC 20%, #DBE9F0 50%, #C1DAE6 80%, #D0E2EC 100%) no-repeat;
   background: -ms-linear-gradient(top, #C9DEE9 0, #F8FBFC 20%, #DBE9F0 50%, #C1DAE6 80%, #D0E2EC 100%) no-repeat;
   background: linear-gradient(top, #C9DEE9 0, #F8FBFC 20%, #DBE9F0 50%, #C1DAE6 80%, #D0E2EC 100%) no-repeat;
   -svg-background: linear-gradient(top, #C9DEE9 0, #F8FBFC 20%, #DBE9F0 50%, #C1DAE6 80%, #D0E2EC 100%) no-repeat;
   border:1px solid #E2341D;
   margin:0 auto;
}
input.wha-error, textarea.wha-error {
   color: #182F3A !important;
   font-size: 13px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
   letter-spacing: 1px;
}
form.wha-search input[type="text"]
{
   background: #FFFFFF;
   -webkit-border-radius:4px;
   -moz-border-radius:4px;
   border-radius:4px;
   border:1px solid #7DB0CA;
   margin:0 auto;
   width: 100%;
   padding: 3px 0;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   color: #182F3A !important;
   font-size: 13px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
}
form.wha-search 
{
   background-image: none;
   border: 0;
   display:block;
   position:relative;
   top:0;
   padding:0;
   margin:5px;
   left:0;
   line-height: 0;
}

form.wha-search input
{
   top:0;
   right:0;
}

form.wha-search>input {
   bottom:0;
   left:0;
   vertical-align: middle;
}
 
form.wha-search input[type="submit"]
{
   margin:0 auto;
   color: #CCEAF5 !important;
   position:absolute;
   display:block;
   left: auto;
   border:none;
   background:url('images/searchicon.png') center center no-repeat;
   width:24px;
   height: 100%;
   padding:0;
}

label.wha-checkbox:before
{
   background: #FFFFFF;
   background: linear-gradient(top, #EDF4F8 0, #C1DAE6 40%, #BED8E4 50%, #C1DAE6 60%, #EDF4F8 100%) no-repeat;
   background: -webkit-linear-gradient(top, #EDF4F8 0, #C1DAE6 40%, #BED8E4 50%, #C1DAE6 60%, #EDF4F8 100%) no-repeat;
   background: -moz-linear-gradient(top, #EDF4F8 0, #C1DAE6 40%, #BED8E4 50%, #C1DAE6 60%, #EDF4F8 100%) no-repeat;
   background: -o-linear-gradient(top, #EDF4F8 0, #C1DAE6 40%, #BED8E4 50%, #C1DAE6 60%, #EDF4F8 100%) no-repeat;
   background: -ms-linear-gradient(top, #EDF4F8 0, #C1DAE6 40%, #BED8E4 50%, #C1DAE6 60%, #EDF4F8 100%) no-repeat;
   background: linear-gradient(top, #EDF4F8 0, #C1DAE6 40%, #BED8E4 50%, #C1DAE6 60%, #EDF4F8 100%) no-repeat;
   -svg-background: linear-gradient(top, #EDF4F8 0, #C1DAE6 40%, #BED8E4 50%, #C1DAE6 60%, #EDF4F8 100%) no-repeat;
   -webkit-border-radius:6px;
   -moz-border-radius:6px;
   border-radius:6px;
   -webkit-box-shadow:1px 1px 2px 1px rgba(0, 0, 0, 0.35);
   -moz-box-shadow:1px 1px 2px 1px rgba(0, 0, 0, 0.35);
   box-shadow:1px 1px 2px 1px rgba(0, 0, 0, 0.35);
   border:1px solid #589ABB;
   margin:0 auto;
   width:20px;
   height:20px;
}
label.wha-checkbox
{
   cursor: pointer;
   font-size: 13px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
   line-height: 20px;
   display: inline-block;
}

.wha-checkbox>input[type="checkbox"]
{
   margin: 0 5px 0 0;
}

label.wha-checkbox.active:before
{
   background: #7FCAE6;
   background: linear-gradient(top, #99D5EB 0, #6EC3E2 40%, #6AC2E2 50%, #6EC3E2 60%, #99D5EB 100%) no-repeat;
   background: -webkit-linear-gradient(top, #99D5EB 0, #6EC3E2 40%, #6AC2E2 50%, #6EC3E2 60%, #99D5EB 100%) no-repeat;
   background: -moz-linear-gradient(top, #99D5EB 0, #6EC3E2 40%, #6AC2E2 50%, #6EC3E2 60%, #99D5EB 100%) no-repeat;
   background: -o-linear-gradient(top, #99D5EB 0, #6EC3E2 40%, #6AC2E2 50%, #6EC3E2 60%, #99D5EB 100%) no-repeat;
   background: -ms-linear-gradient(top, #99D5EB 0, #6EC3E2 40%, #6AC2E2 50%, #6EC3E2 60%, #99D5EB 100%) no-repeat;
   background: linear-gradient(top, #99D5EB 0, #6EC3E2 40%, #6AC2E2 50%, #6EC3E2 60%, #99D5EB 100%) no-repeat;
   -svg-background: linear-gradient(top, #99D5EB 0, #6EC3E2 40%, #6AC2E2 50%, #6EC3E2 60%, #99D5EB 100%) no-repeat;
   -webkit-border-radius:6px;
   -moz-border-radius:6px;
   border-radius:6px;
   -webkit-box-shadow:1px 1px 2px 1px rgba(0, 0, 0, 0.35);
   -moz-box-shadow:1px 1px 2px 1px rgba(0, 0, 0, 0.35);
   box-shadow:1px 1px 2px 1px rgba(0, 0, 0, 0.35);
   border:1px solid #4DA2C7;
   margin:0 auto;
   width:20px;
   height:20px;
   display: inline-block;
}

label.wha-checkbox.hovered:before
{
   background: #BBE3F2;
   background: linear-gradient(top, #D4EDF7 0, #AADCEE 40%, #A1D8EC 50%, #AADCEE 60%, #D4EDF7 100%) no-repeat;
   background: -webkit-linear-gradient(top, #D4EDF7 0, #AADCEE 40%, #A1D8EC 50%, #AADCEE 60%, #D4EDF7 100%) no-repeat;
   background: -moz-linear-gradient(top, #D4EDF7 0, #AADCEE 40%, #A1D8EC 50%, #AADCEE 60%, #D4EDF7 100%) no-repeat;
   background: -o-linear-gradient(top, #D4EDF7 0, #AADCEE 40%, #A1D8EC 50%, #AADCEE 60%, #D4EDF7 100%) no-repeat;
   background: -ms-linear-gradient(top, #D4EDF7 0, #AADCEE 40%, #A1D8EC 50%, #AADCEE 60%, #D4EDF7 100%) no-repeat;
   background: linear-gradient(top, #D4EDF7 0, #AADCEE 40%, #A1D8EC 50%, #AADCEE 60%, #D4EDF7 100%) no-repeat;
   -svg-background: linear-gradient(top, #D4EDF7 0, #AADCEE 40%, #A1D8EC 50%, #AADCEE 60%, #D4EDF7 100%) no-repeat;
   -webkit-border-radius:6px;
   -moz-border-radius:6px;
   border-radius:6px;
   -webkit-box-shadow:1px 1px 2px 1px rgba(0, 0, 0, 0.35);
   -moz-box-shadow:1px 1px 2px 1px rgba(0, 0, 0, 0.35);
   box-shadow:1px 1px 2px 1px rgba(0, 0, 0, 0.35);
   border:1px solid #589ABB;
   margin:0 auto;
   width:20px;
   height:20px;
   display: inline-block;
}

label.wha-radiobutton:before
{
   background: #FFFFFF;
   background: linear-gradient(top, #EDF4F8 0, #C1DAE6 40%, #BED8E4 50%, #C1DAE6 60%, #EDF4F8 100%) no-repeat;
   background: -webkit-linear-gradient(top, #EDF4F8 0, #C1DAE6 40%, #BED8E4 50%, #C1DAE6 60%, #EDF4F8 100%) no-repeat;
   background: -moz-linear-gradient(top, #EDF4F8 0, #C1DAE6 40%, #BED8E4 50%, #C1DAE6 60%, #EDF4F8 100%) no-repeat;
   background: -o-linear-gradient(top, #EDF4F8 0, #C1DAE6 40%, #BED8E4 50%, #C1DAE6 60%, #EDF4F8 100%) no-repeat;
   background: -ms-linear-gradient(top, #EDF4F8 0, #C1DAE6 40%, #BED8E4 50%, #C1DAE6 60%, #EDF4F8 100%) no-repeat;
   background: linear-gradient(top, #EDF4F8 0, #C1DAE6 40%, #BED8E4 50%, #C1DAE6 60%, #EDF4F8 100%) no-repeat;
   -svg-background: linear-gradient(top, #EDF4F8 0, #C1DAE6 40%, #BED8E4 50%, #C1DAE6 60%, #EDF4F8 100%) no-repeat;
   -webkit-border-radius:10px;
   -moz-border-radius:10px;
   border-radius:10px;
   -webkit-box-shadow:1px 1px 2px 1px rgba(0, 0, 0, 0.35);
   -moz-box-shadow:1px 1px 2px 1px rgba(0, 0, 0, 0.35);
   box-shadow:1px 1px 2px 1px rgba(0, 0, 0, 0.35);
   border:1px solid #28A1CC;
   margin:0 auto;
   width:20px;
   height:20px;
}
label.wha-radiobutton
{
   cursor: pointer;
   font-size: 13px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
   line-height: 20px;
   display: inline-block;
}

.wha-radiobutton>input[type="radio"]
{
   vertical-align: baseline;
   margin: 0 5px 0 0;
}

label.wha-radiobutton.active:before
{
   background: #7FCAE6;
   background: linear-gradient(top, #99D5EB 0, #6EC3E2 40%, #6AC2E2 50%, #6EC3E2 60%, #99D5EB 100%) no-repeat;
   background: -webkit-linear-gradient(top, #99D5EB 0, #6EC3E2 40%, #6AC2E2 50%, #6EC3E2 60%, #99D5EB 100%) no-repeat;
   background: -moz-linear-gradient(top, #99D5EB 0, #6EC3E2 40%, #6AC2E2 50%, #6EC3E2 60%, #99D5EB 100%) no-repeat;
   background: -o-linear-gradient(top, #99D5EB 0, #6EC3E2 40%, #6AC2E2 50%, #6EC3E2 60%, #99D5EB 100%) no-repeat;
   background: -ms-linear-gradient(top, #99D5EB 0, #6EC3E2 40%, #6AC2E2 50%, #6EC3E2 60%, #99D5EB 100%) no-repeat;
   background: linear-gradient(top, #99D5EB 0, #6EC3E2 40%, #6AC2E2 50%, #6EC3E2 60%, #99D5EB 100%) no-repeat;
   -svg-background: linear-gradient(top, #99D5EB 0, #6EC3E2 40%, #6AC2E2 50%, #6EC3E2 60%, #99D5EB 100%) no-repeat;
   -webkit-border-radius:10px;
   -moz-border-radius:10px;
   border-radius:10px;
   -webkit-box-shadow:1px 1px 2px 1px rgba(0, 0, 0, 0.35);
   -moz-box-shadow:1px 1px 2px 1px rgba(0, 0, 0, 0.35);
   box-shadow:1px 1px 2px 1px rgba(0, 0, 0, 0.35);
   border:1px solid #4DA2C7;
   margin:0 auto;
   width:20px;
   height:20px;
   display: inline-block;
}

label.wha-radiobutton.hovered:before
{
   background: #BBE3F2;
   background: linear-gradient(top, #D4EDF7 0, #AADCEE 40%, #A1D8EC 50%, #AADCEE 60%, #D4EDF7 100%) no-repeat;
   background: -webkit-linear-gradient(top, #D4EDF7 0, #AADCEE 40%, #A1D8EC 50%, #AADCEE 60%, #D4EDF7 100%) no-repeat;
   background: -moz-linear-gradient(top, #D4EDF7 0, #AADCEE 40%, #A1D8EC 50%, #AADCEE 60%, #D4EDF7 100%) no-repeat;
   background: -o-linear-gradient(top, #D4EDF7 0, #AADCEE 40%, #A1D8EC 50%, #AADCEE 60%, #D4EDF7 100%) no-repeat;
   background: -ms-linear-gradient(top, #D4EDF7 0, #AADCEE 40%, #A1D8EC 50%, #AADCEE 60%, #D4EDF7 100%) no-repeat;
   background: linear-gradient(top, #D4EDF7 0, #AADCEE 40%, #A1D8EC 50%, #AADCEE 60%, #D4EDF7 100%) no-repeat;
   -svg-background: linear-gradient(top, #D4EDF7 0, #AADCEE 40%, #A1D8EC 50%, #AADCEE 60%, #D4EDF7 100%) no-repeat;
   -webkit-border-radius:10px;
   -moz-border-radius:10px;
   border-radius:10px;
   -webkit-box-shadow:1px 1px 2px 1px rgba(0, 0, 0, 0.35);
   -moz-box-shadow:1px 1px 2px 1px rgba(0, 0, 0, 0.35);
   box-shadow:1px 1px 2px 1px rgba(0, 0, 0, 0.35);
   border:1px solid #589ABB;
   margin:0 auto;
   width:20px;
   height:20px;
   display: inline-block;
}

.wha-post
{
   background: #E2EDF3;
   background: rgba(226, 237, 243, 0.6);
   -webkit-border-radius:2px;
   -moz-border-radius:2px;
   border-radius:2px;
   padding:5px;
   margin:12px;
}
a img
{
   border: 0;
}

.wha-article img, img.wha-article, .wha-block img, .wha-footer img
{
   margin: 7px 7px 7px 7px;
}

.wha-metadata-icons img
{
   border: none;
   vertical-align: middle;
   margin: 2px;
}

.wha-article table, table.wha-article
{
   border-collapse: collapse;
   margin: 1px;
}

.wha-post .wha-content-layout-br
{
   height: 0;
}

.wha-article th, .wha-article td
{
   padding: 2px;
   border: dashed 1px #28A1CC;
   vertical-align: top;
   text-align: left;
}

.wha-article th
{
   text-align: center;
   vertical-align: middle;
   padding: 7px;
}

pre
{
   overflow: auto;
   padding: 0.1em;
}

.wha-postmetadataheader
{
   background: #BBE3F2;
   background: rgba(187, 227, 242, 0.7);
   border-bottom:1px solid #9DC4D7;
   margin:0 auto;
   position:relative;
   z-index:1;
   padding: 1px;
}

.wha-postheader
{
   color: #104051;
   margin: 10px 0;
   font-size: 26px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
   letter-spacing: 2px;
}

.wha-postheader a, 
.wha-postheader a:link, 
.wha-postheader a:visited,
.wha-postheader a.visited,
.wha-postheader a:hover,
.wha-postheader a.hovered
{
   font-size: 26px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
   letter-spacing: 2px;
}

.wha-postheader a, .wha-postheader a:link
{
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   text-decoration: none;
   text-align: left;
   color: #18617B;
}

.wha-postheader a:visited, .wha-postheader a.visited
{
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   text-decoration: none;
   color: #386E8A;
}

.wha-postheader a:hover,  .wha-postheader a.hovered
{
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   text-decoration: underline;
   color: #09C1E1;
}

.wha-postheadericons,
.wha-postheadericons a,
.wha-postheadericons a:link,
.wha-postheadericons a:visited,
.wha-postheadericons a:hover
{
   font-size: 11px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   letter-spacing: 1px;
   color: #264C5E;
}

.wha-postheadericons
{
   display:inline-block;
   padding: 1px;
}

.wha-postheadericons a, .wha-postheadericons a:link
{
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   text-decoration: none;
   letter-spacing: 1px;
   color: #18617B;
}

.wha-postheadericons a:visited, .wha-postheadericons a.visited
{
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   text-decoration: none;
   letter-spacing: 1px;
   color: #2B5469;
}

.wha-postheadericons a:hover, .wha-postheadericons a.hover
{
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   text-decoration: underline;
   letter-spacing: 1px;
   color: #2183A6;
}

.wha-postdateicon:before
{
   content:url('images/postdateicon.png');
   margin-right:6px;
   position:relative;
   display:inline-block;
   vertical-align:middle;
   font-size:0;
   line-height:0;
   bottom: auto;
}
.opera .wha-postdateicon:before
{
   /* Vertical-align:middle in Opera doesn't need additional offset */
    bottom: 0;
}

.wha-postcontent li, .wha-post li, .wha-textblock li
{
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   color: #06171E;
   margin: 5px 0 0 11px;
}

.wha-postcontent ul>li, .wha-post ul>li, .wha-textblock ul>li, .wha-postcontent ol, .wha-post ol, .wha-textblock ol
{
   padding: 0;
}

.wha-postcontent ul>li, .wha-post ul>li, .wha-textblock ul>li
{
   padding-left: 11px;
}

.wha-postcontent ul>li:before,  .wha-post ul>li:before,  .wha-textblock ul>li:before
{
   margin-left: -11px;
}

.wha-postcontent ol, .wha-post ol, .wha-textblock ol, .wha-postcontent ul, .wha-post ul, .wha-textblock ul
{
   margin: 1em 0 1em 11px;
}

.wha-postcontent li ol, .wha-post li ol, .wha-textblock li ol, .wha-postcontent li ul, .wha-post li ul, .wha-textblock li ul
{
   margin: 0.5em 0 0.5em 11px;
}

.wha-postcontent li, .wha-post li, .wha-textblock li
{
   margin: 5px 0 0 0;
}

.wha-postcontent ol>li, .wha-post ol>li, .wha-textblock ol>li
{
   /* overrides overflow for "ul li" and sets the default value */
  overflow: visible;
}

.wha-postcontent ul>li, .wha-post ul>li, .wha-textblock ul>li
{
   /* makes "ul li" not to align behind the image if they are in the same line */
  overflow-x: visible;
   overflow-y: hidden;
}

.wha-footer
{
   background: #C9E3EE;
   background: rgba(201, 227, 238, 0.6);
   border-top:1px solid #50B7DC;
   margin:0 auto;
   position: relative;
   color: #152933;
   font-size: 11px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   letter-spacing: 1px;
   text-align: center;
   padding: 0;
}

.wha-footer a,
.wha-footer a:link,
.wha-footer a:visited,
.wha-footer a:hover,
.wha-footer td, 
.wha-footer th,
.wha-footer caption
{
   color: #152933;
   font-size: 11px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   letter-spacing: 1px;
}

.wha-footer p 
{
   padding:0;
   text-align: center;
}

.wha-footer-inner
{
   margin: 0 auto;
   min-width: 700px;
   max-width: 1728px;
   width:90%;
   padding:15px;
   padding-right: 15px;
   padding-left: 15px;
}

.wha-footer ul>li:before
{
   content:url('images/footerbullets.png');
   margin-right:6px;
   bottom: 2px;
   position:relative;
   display:inline-block;
   vertical-align:middle;
   font-size:0;
   line-height:0;
   margin-left: -11px;
}
.opera .wha-footer ul>li:before
{
   /* Vertical-align:middle in Opera doesn't need additional offset */
    bottom: 0;
}

.wha-footer li
{
   font-size: 13px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   letter-spacing: 1px;
   line-height: 125%;
   color: #34667F;
   margin: 5px 0 0 13px;
}

.wha-footer ul>li, .wha-footer ol
{
   padding: 0;
}

.wha-footer ul>li
{
   padding-left: 11px;
}

.wha-page-footer, 
.wha-page-footer a,
.wha-page-footer a:link,
.wha-page-footer a:visited,
.wha-page-footer a:hover
{
   font-family: Arial;
   font-size: 10px;
   letter-spacing: normal;
   word-spacing: normal;
   font-style: normal;
   font-weight: normal;
   text-decoration: underline;
   color: #1A6884;
}

.wha-page-footer
{
   position: relative;
   z-index: auto !important;
   padding: 1em;
   text-align: center !important;
   text-decoration: none;
   color: #2E5A70;
}

img.wha-lightbox
{
   cursor: pointer;
}

#wha-lightbox-bg *
{
   padding: 0;
   margin: 0;
}

div#wha-lightbox-bg
{
   top: 0;
   left: 0;
   width: 100%;
   position: absolute;
   height: 100%;
   background-color: #000;
   opacity: 0.8;
   filter: alpha(opacity=80);
   z-index: 9999;
}

img.wha-lightbox-image
{
   -webkit-transition: opacity 350ms ease-in-out;
   -moz-transition: opacity 350ms ease-in-out;
   -o-transition: opacity 350ms ease-in-out;
   -ms-transition: opacity 350ms ease-in-out;
   transition: opacity 350ms ease-in-out;
   cursor: pointer;
   z-index: 10000;
   position: fixed;
   border: 6px solid #fff;
   border-radius: 3px;
   opacity: 0;
   filter: alpha(opacity=0);
}

img.wha-lightbox-image.active
{
   opacity: 1;
   filter: alpha(opacity=100);
}

.lightbox-error
{
   position: fixed;
   background: #fff;
   z-index: 100;
   opacity: 0.95;
   padding: 20px;
   border: 1px solid #b4b4b4;
   border-radius: 10px;
   box-shadow: 0 2px 5px #333;
   width: 300px;
   height: 80px;
}

.loading
{
   position: fixed;
   background: #fff url('images/preloader-01.gif') center center no-repeat;
   width: 32px;
   height: 32px;
   z-index: 10100;
   opacity: 0.5;
   padding: 10px;
   border: 1px solid #b4b4b4;
   border-radius: 10px;
   box-shadow: 0 2px 5px #333;
}

.arrow
{
   height: 100px;
   width: 82px;
   z-index: 10003;
   position: fixed;
   cursor: pointer;
   opacity: 0.5;
   filter: alpha(opacity=50);
}

.arrow.left
{
   left: 9px;
}
.arrow.right
{
   right: 9px;
}

.arrow:hover
{
   opacity: 1;
   filter: alpha(opacity=100);
}

.arrow.disabled 
{
   display: none;
}

.arrow-t, .arrow-b
{
   height: 6px;
   width: 30px;
   left: 26px;
   background-color: #fff;
   position: relative;
   border-radius: 3px;
}

.arrow-t
{
   top: 38px;
}

.arrow-b
{
   top: 50px;
}

.close
{
   width: 22px;
   height: 22px;
   position: fixed;
   top: 30px;
   right: 39px;
   cursor: pointer;
   opacity: 0.5;
   filter: alpha(opacity=50);
}

.close:hover 
{
   opacity: 1;
   filter: alpha(opacity=100);
}

.close .cw, .close .ccw
{
   position: absolute;
   top: 8px;
   left: -4px;
   width: 30px;
   height: 6px;
   background-color: #fff;
   border-radius: 3px;
}

.cw
{
   transform: rotate(45deg);
   -ms-transform: rotate(45deg);
   /* IE 9 */
    -webkit-transform: rotate(45deg);
   /* Safari and Chrome */
    -o-transform: rotate(45deg);
   /* Opera */
    -moz-transform: rotate(45deg);
/* Firefox */}

.ccw
{
   transform: rotate(-45deg);
   -ms-transform: rotate(-45deg);
   /* IE 9 */
    -webkit-transform: rotate(-45deg);
   /* Safari and Chrome */
    -o-transform: rotate(-45deg);
   /* Opera */
    -moz-transform: rotate(-45deg);
/* Firefox */}

.close-alt, .arrow-right-alt, .arrow-left-alt 
{
   display: none;
   color: #fff;
   font-size: 2.5em;
}

.ie8 .close-alt, .ie8 .arrow-right-alt, .ie8 .arrow-left-alt {
   display: block;
}
.ie8 .cw, .ie8 .ccw {
   display: none;
}

.wha-content-layout .wha-content
{
   margin:0 auto;
}